html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.devise-form {
  margin: 10% auto auto;
  width: 30rem;
}

@media (max-width: 30rem) {
  .devise-form {
    margin: 5% auto auto;
    width: 100%;
  }
}
